[submodule "src/trace-decoder"]
	path = src/trace-decoder
	url = git@github.com:sifive/trace-decoder.git
[submodule "src/binutils-metal"]
	path = src/binutils-metal
	url = git@github.com:sifive/freedom-binutils-metal.git
